body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3f3f3;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
}

.logo-background {
    display: flex;
    align-self: center;
    width: 666px;
    height: 499px;
}

.netflix-tv {
    display: flex;
    align-self: center;
    width: 100%;
    height: 115%;
}

.product-description {
    display: flex;
    flex-direction: row;
}

.product-description p {
    padding: 30px;
    font-size: 30px;
    text-align: justify;
    font-family: 'Staatliches', cursive;
}